RewriteEngine On
# Essa é a pasta do projeto 
RewriteBase /WorkshopPJphp/


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#          // muda o link   // o nome real do arquivo
RewriteRule ^workshop/(Login)$ index.php?workshop=$1 [L,QSA]
RewriteRule ^workshop/(Conectando)$ login.php?workshop=$1 [L,QSA]
RewriteRule ^workshop/(Menu)$ Principal.php?workshop=$1 [L,QSA]
RewriteRule ^workshop/(Sair)$ sair.php?workshop=$1 [L,QSA]