RewriteEngine On
# Essa é a pasta do projeto 
RewriteBase /Workshop/


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#          // muda o link   // o nome real do arquivo
RewriteRule ^Login$ index.php?workshop=$1 [L,QSA]
RewriteRule ^Conectando$ controller/login.php?workshop=$1 [L,QSA]
RewriteRule ^Menu$ controller/Principal.php?workshop=$1 [L,QSA]
RewriteRule ^Sair$ controller/sair.php?workshop=$1 [L,QSA]